#about {
    background-color: rgba($color: #4afbc6, $alpha: 0.3);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 200px;
    padding-top: 60px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 66px;
    overflow: hidden;
    display: grid;
}
#about h2 {
    color: #0D0D0D;
    margin-bottom: 12px;
}
