@media screen and (max-width: 767px) {
    #account {
        padding: 0px;
        margin-top: 20%;
    }
}
@media screen and (min-width: 767px) {
    #account {
        margin-top: 8%;
        margin-right: 5%;
        margin-left: 5%;

        padding: 0px;
        .paper{
            display: flex;}
    }
}


#account{

    text-align: center;
    color: black;

    .flex{
        display: flex;
        margin: 4px;
        padding: 4px;
    }
    .paper{
        //display: flex;
        padding-top:3%;
        text-align: left;
        background-color: white;
        .trim {
            padding-top: 5%;
            padding-left: 10%;
            .inner-img {
                top: 5px;
                position: relative;
                width: 200px;
                height: 200px;

                border-radius:50%;
            }
        }


        .h2{
            padding: 10%;
            position: relative;
        }
    }
    .form{
        display: flex;
        position: center;
        width: 80%;
        height: auto;
        min-height: 20px;
        background: rgba(255,255,255,0.15);
        padding: 10%;


        .content{

        }
    }
}

