#account{
    text-align: center;

    padding: 20px;
    margin: 120px 80px 100px 100px;

}

#account .form{
    height: 700px;
    min-height: 20px;
    color: white;
    background: rgba(255,255,255,0.15);
    padding: 10%;
}