///*
//@font-face{
//    font-family: 'OCRA';
//    src: url("../fonts/OCRA\ Regular.ttf");
//}
//*/

@font-face{
  font-family: 'Noto';
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Thin.otf");
}



body {
  background-color: ghostwhite;
  font-family: Noto;
}
