.live-about {
    background-color: rgba(212,105,227,0.52);
    color: black;
    margin: 10%;
    padding: 10%;
    position: relative;
    p{
        font-size: 20px;
        position: relative;
        color: white;
    }
}

