.arrow-left {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 10px;
    border-left: 4px solid #000;
    border-bottom: 4px solid #000;
    transform: rotate(45deg);
}
.arrow-top {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 10px;
    border-top: 4px solid #000;
    border-left: 4px solid #000;
    transform: rotate(45deg);
}
.arrow-right {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 10px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    transform: rotate(45deg);
}
.arrow-bottom {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 10px;
    border-bottom: 4px solid #000;
    border-right: 4px solid #000;
    transform: rotate(45deg);
}
